* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.max_width {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

header {
    position: relative;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

header .logo {
    position: absolute;
    left: 20px;
    top: 0;
}

header img {
    position: absolute;
    left: 20px;
    top: 0;
    height: 50px;
    width: auto;
}

header nav ul {
    position: absolute;
    list-style: none;
    right: 300px;
    top: 0;

}

header .icon {
    position: absolute;
    right: 100px;
    top: 5px;
    font-size: 30px;
}

header .icon a {
    color: black;
}

header .icon a:hover {
    color: rgb(130, 130, 57);
}

header .icon button {
    font-size: 30px;
    border: 0;
    outline: none;
    background-color: white;
    margin-right: 15px;
}

header .icon button:hover {
    color: rgb(130, 130, 57);
}

header nav ul li {
    display: inline-block;
}

header nav ul li a:hover {
    background-color: #e6e0e0;
    text-decoration: none;
    color: #666;
}

header nav ul li a {
    color: #666;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 20px;
}

header .form-search {
    position: relative;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease;
}

header .form-search input {
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 20px;
    border-top: 2px solid black;
}

header .form-search button {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 30px;
    border: 0;
    outline: none;
    background-color: white;
    margin-right: 15px;
}

header .form-search button:hover {
    color: rgb(130, 130, 57);
}

section.home {
    position: relative;
    height: 500px;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

section.home .slide img {
    width: 100%;
    height: 500px;
}

section.home button {
    width: 80px;
    height: 100%;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
    opacity: .2;
    outline: none;
}

section.home button:hover {
    background-color: black;
    color: white;

}

section.home .btnl {
    position: absolute;
    bottom: 0;
    left: 0;
}

section.home .btnr {
    position: absolute;
    bottom: 0;
    right: 0;
}

section.home h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 900;
    font-size: 30px;
}

section.banner {
    text-align: center;
}

section.banner .lbanner {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

section.banner .lbanner .box {
    margin-top: 30px;
    width: auto;
    display: flex;
    text-decoration: none;
    color: black;
}

section.banner .lbanner img {
    width: 200px;
    height: 200px;
}

section.banner .lbanner .content {
    margin-left: 20px;
    text-align: left;
}

section.banner .lbanner a:hover {
    text-decoration: none;
}

section.banner .lbanner .box:hover img {
    transform: scale(1.1);
}

.intro {
    background-color: #f8f8f8;
    padding: 80px 0;
    font-size: 16px;
    color: #333;
}

.intro h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.intro p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.intro button {
    font-size: 18px;
    padding: 10px 30px;
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.intro button:hover {
    background-color: #e40046;
}

.intro img {
    width: 100%;
}


footer {
    background-color: #f8f8f8;
    height: 50px;
    border-top: 1px solid black;
    margin-top: 20px;
}

footer h3 {
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

footer p {
    line-height: 1.5;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li i {
    margin-right: 10px;
}

footer ul.social li {
    display: inline-block;
    margin-right: 10px;
}

footer ul.social li a {
    color: #666;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

footer ul.social li a:hover {
    color: #333;
    transform: scale(1.2);
}

section.banner-product {
    background-image: url('../img/product-bn.jpg');
    height: 250px;
    width: 100%;
}

section.banner-product h1 {
    text-align: center;
    padding-top: 100px;
}

section.product {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1200px;
    min-height: 500px;
    height: auto;
}

section.product .box {
    position: relative;
    width: 250px;
    height: 300x;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin-left: 30px;
    margin-top: 50px;
}

section.product a:hover {
    text-decoration: none;
}

section.product .box img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

section.product .box .icon {
    width: 250px;
    position: absolute;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

section.product .box:hover .icon {
    width: 248px;
    position: absolute;
    border-bottom: 2px solid black;
    max-height: 50px;
    transition: max-height 0.7s ease;

}

section.product .box .icon .box-icon {
    padding-inline: 10px;
    padding: 5px;
    font-size: 20px;
    border: 0;
    outline: none;

}

section.product .box .icon .box-icon:hover {
    background-color: rgb(68, 68, 68);
    color: white;
}

section.product-detail {
    width: 100%;
    display: flex;
    margin-top: 50px;
    height: 500px;
}

section.product-detail .content {
    position: relative;
    width: 500px;
    margin-left: 100px;
}

section.product-detail .content button.addbanh {
    margin-top: 150px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(182, 182, 56);
}

section.product-detail .content button.addbanh:hover {
    background-color: rgb(144, 144, 45);
}

section.product-detail .slider {
    position: relative;
    width: 300px;
    height: 300px;
}

section.product-detail .slider .slide img {
    width: 300px;
    height: 300px;
}

section.product-detail button.btnl,
.btnr {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

section.product-detail .btnl {
    position: absolute;
    bottom: -30px;
    right: 60px;
}

section.product-detail .btnr {
    position: absolute;
    bottom: -30px;
    right: 5px;
}

section.product-detail .content .qtt {
    position: relative;
    position: absolute;
    top: 250px;
}

section.product-detail .content button.plus {
    position: absolute;
    left: 60px;
}

section.product-detail .content p#quantity {
    position: absolute;
    left: 40px;
}

section.product-detail button.plus,
.minus {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(182, 182, 56);
    color: white;
    border: 0;
}

section.product-detail .content button.plus:hover,
.minus:hover {
    background-color: rgb(144, 144, 45);
}

section.shoppingcart {
    min-height: 600px;
}

section.shoppingcart .tblcart img {
    width: 100px;
    height: 100px;
}

section.shoppingcart .total_bill {
    text-align: end;
    margin-right: 50px;
}